body{
  background-color:black;
}
.scroll-in {
  font-size: 50px;
  padding: 60px;
  right-padding: 60px;
  font-family:"San Francisco Display Semibold";
  color:white;
}

@font-face {
  font-family: "San Francisco Display Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg")
}

htmljs {
  .scroll-in { opacity: 0; }
}
.button{
  background-color: rgba(0, 0, 0, 0);; 
  border: none;
  color: white;
  padding: 50px 2000px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family:"San Francisco Display Semibold";
}

.next_button::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.next_button:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.next_button::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: grey;
  z-index: -1;
  transition: transform .3s ease;
}

.next_button {
  position: relative;
  font-size: 5px;
}